<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/_imagens/icon_logo.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="index">
    <div id="borda"></div>
    <header id="cabecalho">
        <img id="imgBack" src="~/Content/_imagens/cube.png" />
        <p><span id="cubo">CUBO</span><br /> &nbsp; <span id="magico">MAGICO</span></p>
        <nav id="menu_index">
            <ul>
                <li>@Html.ActionLink("Ínicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Assinaturas", "Index", "Home")</li>
                <li>@Html.ActionLink("Meu Cubo", "Index", "Home")</li>
                <li>@Html.ActionLink("Ajuda", "Index", "Home")</li>
            </ul>
        </nav>

    </header>
    <div id="borda"></div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
