@model projetoCuboMagico.Models.CartaoCredito

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>Cadastro Cubo Mágico</title>
        @Styles.Render("~/Content/css")
        <link rel="shortcut icon" href="~/Content/_imagens/icon_logo.ico">

    </head>
    <body id="cadastro">
        <div id="barra_ind1" class="ind_ativo"></div> <div id="barra_ind2" class="ind_ativo"></div>
        <a class="linkInd" href="@Url.Action("Create", "Cliente")"><div id="circulo_ind1" class="ind_ativo linkE"> <img class="ind" src="~/Content/_imagens/cadastro_vetor.png" /> </div></a>
        <a href="cadastro2_cubo.html"><div id="circulo_ind2" class="ind_ativo linkE"> <img class="ind" src="~/Content/_imagens/livro_vetor.png" /> </div></a>
        <div id="circulo_ind3" class="ind_ativo"> <img class="ind" src="~/Content/_imagens/cartao_vetor.png" /> </div>
        <div id="circulo_ind4"> <img class="ind" src="~/Content/_imagens/finish_vetor.png" /> </div>

        <div id="livro">
            <div id="livro_left">

                <div class="folha_left">
                    <img id="imgLivro3" src="~/Content/_imagens/imgLivro3.png" />
                    <h2 class="TLivro">Informações de Pagamento:</h2><br /><br />
                    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "label" })<br />
                    @Html.EditorFor(model => model.Numero, null, new { htmlAttributes = new { @class = "input", id = "email", style = "border:1;border-style:solid;border-radius:1000px;width:328px;" } })<br />
                    @Html.LabelFor(model => model.NomeImpresso, htmlAttributes: new { @class = "label" })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "label" })<br />
                    @Html.EditorFor(model => model.NomeImpresso, null, new { htmlAttributes = new { @class = "input", id = "email", style = "border:1;border-style:solid;border-radius:1000px;width:170px;", placeholder = "Ex: Fernanda Seleghin " } })
                    @Html.EditorFor(model => model.Validade, null, new { htmlAttributes = new { @class = "input", id = "email", style = "border:1;border-style:solid;border-radius:1000px;width:150px;", placeholder = "Ex: 123.456.789-10" } })<br />
                    @Html.LabelFor(model => model.Validade, htmlAttributes: new { @class = "label" })@Html.LabelFor(model => model.Cvv, htmlAttributes: new { @class = "label" })<br />
                    @Html.EditorFor(model => model.Validade, null, new { htmlAttributes = new { @class = "input", id = "email", style = "border:1;border-style:solid;border-radius:1000px;width:80px;", placeholder = "Ex: MM/AAAA" } })
                    @Html.EditorFor(model => model.Cvv, null, new { htmlAttributes = new { @class = "input", id = "email", style = "border:1;border-style:solid;border-radius:1000px;width:80px;", placeholder = "Ex: 315" } })
                </div>
            </div>
            <div id="livro_right">
                <div class="folha_right3">
                    <img id="imgLivro4" src="~/Content/_imagens/imglivro4.png" />
                    <h3 id="recFinal" style="font-size:50pt;font-family:teachers;font-weight:normal;">
                        &nbsp;Você está &nbsp;completando seu &nbsp;cadastro de 3 etapas!
                        &nbsp;Avance e confirme &nbsp;seus dados <span class="e">:)</span>
                    </h3>
                    <input type="submit" class="btnForm" value="Finalizar" style="border:0;" />
                </div>
            </div>
            <div id="livro_centro">

            </div>
        </div>
    </body>


</html>
}

