@model IEnumerable<projetoCuboMagico.Models.Gerente>

@{
    ViewData["Title"] = "Funcionarios";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>
<div style="padding-bottom: 15px;" class="text-right">
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success" })
</div>
<div class="table-responsive">
    @if (Model.Any())
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(g => g.Id)</th>
                    <th>@Html.DisplayNameFor(g => g.NomeCompleto)</th>
                    <th>@Html.DisplayNameFor(g => g.DataNascimento)</th>
                    <th>@Html.DisplayNameFor(g => g.Sexo)</th>
                    <th>@Html.DisplayNameFor(g => g.Cpf)</th>
                    <th>@Html.DisplayNameFor(g => g.Email)</th>
                    <th>@Html.DisplayNameFor(g => g.Telefone)</th>
                    <th>@Html.DisplayNameFor(g => g.Celular)</th>
                    <th>@Html.DisplayNameFor(g => g.Endereco)</th>
                    <th>@Html.DisplayNameFor(g => g.IdUsuario)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var funcionario in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(f => funcionario.Id)</td>
                    <td>@Html.DisplayFor(f => funcionario.NomeCompleto)</td>
                    <td>@Html.DisplayFor(f => funcionario.DataNascimento)</td>
                    <td>@Html.DisplayFor(f => funcionario.Sexo)</td>
                    <td>@Html.DisplayFor(f => funcionario.Cpf)</td>
                    <td>@Html.DisplayFor(f => funcionario.Email)</td>
                    <td>@Html.DisplayFor(f => funcionario.Telefone)</td>
                    <td>@Html.DisplayFor(f => funcionario.Celular)</td>
                    <td>@Html.DisplayFor(f => funcionario.Endereco)</td>
                    <td>@Html.DisplayFor(f => funcionario.IdUsuario)</td>

                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = funcionario.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Editar", "Edit", new { id = funcionario.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Deletar", "Delete", new { id = funcionario.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            <p>Não há funcionários cadastrados.</p>
        </div>
    }
</div>